.main {
    background-image: linear-gradient(#3913e04b, #eb75274b);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centerAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerForm {
    width: 90%;
    max-width: 550px;
    margin: auto;
    background-color: #afdaee;
    border-radius: 10px;
    padding: 15px;
}

/* the error messages */
.registerForm p {
    color: #f00;
}

.createAccount {
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #90f0f3;
    transition: all 0.5s ease-in-out;
    margin-bottom: 50px;
}

.createAccount:hover {
    border-radius: 25px;
    background-color: #3011be;
    color: #fff;
}

.labels {
    margin-top: 15px;
}

.togglePasswordVisibility {
    position: absolute;
    right: 5%;
    bottom: 10%;
}

@media screen and (max-width: 768px) {
    .createAccount {
        font-size: 24px;
        padding: 15px;
    }
}

@media (prefers-reduced-motion) {
    .createAccount {
        transition: none;
    }
}
