.main {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centerAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerForm {
    width: 90%;
    max-width: 550px;
    margin: auto;
    background-color: #ddeff7;
    border-radius: 10px;
    padding: 15px;
}

/* the error messages */
.registerForm p {
    color: #f00;
}

.createAccount {
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    background-color: #90f0f3;
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
}

.createAccount:hover {
    border-radius: 15px;
    background-color: #33bacc;
}

.labels {
    margin-top: 15px;
}

.togglePasswordVisibility {
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.toast {
    position: fixed;
    width: 100%;
    height: 85%;
    z-index: 9999;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .createAccount {
        font-size: 24px;
        padding: 15px;
    }
}

@media (prefers-reduced-motion) {
    .createAccount {
        transition: none;
    }
}
