/* #region firstPanel */
.firstPanel {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 400px 20% 30%;
}

.priceTab {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 70px 60px;
    gap: 10px 20px;
}

.price {
    border-right: 1px solid #535353b7;
}

.price div {
    display: block;
}

.actionButtons {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 220px;
    padding: 10px 20px;
    background-color: #3b3bff;
    color: #fff;
    transition: all ease-in 0.2s;
}

.actionButtons:hover {
    background-color: #c9c9fc;
    color: #363636;
}

@counter-style logo {
    system: fixed;
    symbols: "\2776""\2777""\2778";
    suffix: " ";
    fallback: "upper-alpha";
}

.advantagesList {
    list-style-type: logo;
}

.activeButton {
    background-color: #cf2525;
}

.productNavigation {
    width: 100%;
    background-color: #3b3bff;
    border-radius: 10px;
    padding: 5px;
    position: sticky;
    top: 70px;
}

.productNavigation a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.productNavigation a:hover {
    background-color: #6c6cff;
}

@media screen and (max-width: 920px) {
    .firstPanel {
        grid-template-columns: 400px;
        grid-template-rows: auto auto 250px;
    }
}

@media screen and (max-width: 425px) {
    .firstPanel {
        grid-template-columns: 250px;
    }
}
/* #endregion */

.description {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    line-height: 1.3;
}

/* #region specifications */

.specifications {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

.table {
    width: 80%;
    max-width: 900px;
    margin: auto;
    border: 1px solid #c9c9c9;
}

.table tr td {
    padding: 5px;
    width: 50%;
    border-right: 1px solid #bbb;
}

.table tr:nth-child(even) {
    background-color: #fff;
}

.table tr:nth-child(odd) {
    background-color: #a3ffff;
}

/* #endregion */

/* #region reviews */

.reviewCard {
    background-color: #fff;
    margin: auto;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #979797;
}

.reviewText {
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}

/* #endregion */

@media (prefers-reduced-motion) {
    .actionButtons {
        transition: none;
    }

    .actionButtons:hover {
        background-color: #c9c9fc;
        color: #363636;
    }
}
